<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if(movies){ for(let w in movies){%>
    <h2>
      <%= movies[w] %>
    </h2>
    <hr />
    <%}} %>
  </body>
</html>
